<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=.1">
  <title>Manage categories</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>

<nav th:replace="fragments :: topbar"></nav>

<div class="col-md-8 col-sm-11 mx-auto my-5">
  <h2>Manage food</h2>
  <table class="table table-bordered table-sm table-striped table-hover mt-4">
    <thead>
    <tr>
      <th class="text-center" style="width:5%" scope="col">ID</th>
      <th scope="col">Name</th>
      <th class="text-end" scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">In stock</th>
      <th scope="col">Photo</th>
      <th scope="col">Category</th>
      <th scope="col">Is activated</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(foods)}">
      <td colspan="9" rowspan="3" class="text-center">No Data</td>
    </tr>
    <tr th:each="food : ${foods}">
      <th scope="row" th:text="${food.id}" class="text-center"></th>
      <td th:text="${food.name}"></td>
      <td th:text="${#numbers.formatCurrency(food.price)}"  class="text-end"></td>
      <td th:text="${food.description}"></td>
      <td th:text="${food.isInStock}"  class="text-center vertical-center" th:classappend="${food.isInStock == true ? 'text-success' : 'text-danger'}"></td>
      <!--                <td><img th:if="${category.photoFilename}" th:src="@{/people/images/{filename}(filename=${person.photoFilename})}" height="32px" width="32px"/></td>-->
      <td><img src="" style="height: 80px; width: 80px;" th:src = "*{'data:image/jpeg;base64,' + {food.image}}"></td>
      <td th:text="${food.category.name}"></td> <!-- TODO: fix null-->
      <td th:text="${food.isActivated}"  class="text-center vertical-center" th:classappend="${food.isActivated == true ? 'text-success' : 'text-danger'}"></td>
      <td>
        <a th:href="@{/update-food/{id} (id = ${food.id})}" class="btn btn-primary">Update</a>
        <a th:if = "${food.inStock == false}" th:href="@{/change-inStock-food/{id} (id = ${food.id})}" class="btn btn-warning">In stock</a>
        <a th:if = "${food.inStock == true}" th:href="@{/change-inStock-food/{id} (id = ${food.id})}" class="btn btn-warning">Not in stock</a>
        <a th:if = "${food.activated == false}" th:href="@{/change-enabled-food/{id} (id = ${food.id})}" class="btn btn-warning">Enable</a>
        <a th:if = "${food.activated == true}" th:href="@{/change-enabled-food/{id} (id = ${food.id})}" class="btn btn-warning">Disable</a>
        <a href="#" class="btn btn-danger" onclick="event.preventDefault(); document.getElementById('delete-form-${food.id}').submit();">Delete</a>
        <form id="delete-form-${food.id}" th:action="@{/delete-food/{id}(id=${food.id})}" method="post">
          <input type="hidden" name="_method" value="post" />
        </form>
<!--        TODO: make buttons full height-->
      </td>
    </tr>
    </tbody>
  </table>

  <h2>Food Form</h2>
  <form th:object="${food}" method="post" enctype="multipart/form-data" th:action="@{/manage-food/save-food}">

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" th:field="*{name}" th:errorclass="is-invalid" aria-describedby="nameHelp" required="">
      <div id="validationName" class="invalid-feedback" th:errors="*{name}">
        Please choose a food name.
      </div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" step="0.1" pattern="\d+(\.\d{1,2})?" class="form-control" id="price" th:field="*{price}" th:errorclass="is-invalid" aria-describedby="nameHelp" required="">
      <div id="validationPrice" class="invalid-feedback" th:errors="*{price}">
        Please set a food price.
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" th:field="*{description}" th:errorclass="is-invalid" aria-describedby="nameHelp" required="">
      <div id="validationDescription" class="invalid-feedback" th:errors="*{description}">
        Please write a description.
      </div>
    </div>

    <div class="mb-3">
      <label for="imageFood" class="form-label">Photo File</label>
      <input class="form-control" type="file" id="imageFood" name="imageFood">
    </div>

    <div class="mb-3" >
      <label class="form-label" for="categories">Food Category</label>
      <div class="col-md-4">
        <select id="categories" th:field = "*{category}" name="categories" class="form-control">
          <option th:value = "null">-Select-</option>
          <option th:each = "category : ${categories}"
                  th:value = "${category.id}"
                  th:text = "${category.name}">
          </option>
        </select>
      </div>
    </div>

    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{activated}">
    <input type="hidden" th:field="*{inStock}">

    <button type="submit" class="btn btn-primary">Save Food</button>
  </form>
</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>